* {
  font-size: 20px;
  color: #ebdbb2;
}

#background {
  background-color: transparent;
}

#active_label {
  background-color: #665c54;
}

#inactive_label {
  background-color: #32302f;
}

#search {
  background-color: #1d2021;
}

#scroll:focus {
  background-color: red;
}

#scroll {
  background-color: green;
}

#entry {
  background-color: #282828;
}

#entry_count {
  background-color: #282828;
}

/*
  --bg: #282828;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --aqua: #a89984;
  --gray_l: #928374;
  --red_l: #fb4934;
  --green_l: #b8bb26;
  --yellow_l: #fabd2f;
  --blue_l: #83a598;
  --purple_l: #d3869b;
  --aqua_l: #8ec07c;
  --fg: #ebdbb2;
  --bg0_h: #1d2021;
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;
  --gray: #928374;
  --orange: #d65d0e;
  --bg0_s: #32302f;
  --fg4: #a89984;
  --fg3: #bdae93;
  --fg2: #d5c4a1;
  --fg1: #ebdbb2;
  --fg0: #fbf1c7;
  --orange_l: #fe8019;
*/

#pic{
  background-color: pink;
}

#test_box {
  background-color: maroon;
}
